parameters:
  phpVersion: 80100 # PHP 7.4 - Current minimal version supported
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  ignoreErrors:
    - message: '`Method .+ should return .+ but returns array<object>\|object\|string\|null.`'
      path:    ./src/Client/*
